<nav class="navbar">
  <ul class="nav-links">
    <li><a href="{% url 'newspaper:index' %}">Home</a></li>
    <li><a href="{% url 'newspaper:newspaper-list' %}">Newspapers</a></li>
    <li><a href="{% url 'newspaper:topic-list' %}">Topics</a></li>
    <li><a href="{% url 'newspaper:redactor-list' %}">Redactors</a></li>

    {% if user.is_authenticated %}
      <li class="auth-info">
        <span>{{ user.username }}</span>
      </li>
      <li>
        <form method="post" action="{% url 'logout' %}" class="logout-form">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    {% else %}
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
    {% endif %}
  </ul>
  <hr>
</nav>
