{% extends "base.html" %}

{% block content %}
  <h2>Newspapers</h2>

  <ul>
    {% for newspaper in newspaper_list %}
      <li>
        <strong>
          <a href="{% url 'newspaper:newspaper-detail' newspaper.pk %}">
            {{ newspaper.title }}
          </a>
        </strong>
        <br>
        Topic: {{ newspaper.topic.name }}
        <br>
        Published: {{ newspaper.published_date }}
      </li>
    {% empty %}
      <li>No newspapers available.</li>
    {% endfor %}
  </ul>
{% endblock %}
