{% extends "base.html" %}

{% block content %}
  <h2>Newspapers</h2>

  <a href="{% url 'newspaper:newspaper-create' %}">
    + Create newspaper
  </a>

  <form method="get">
    {{ search_form.as_p }}
    <button type="submit">🔎</button>
  </form>

  <ul>
    {% for newspaper in newspaper_list %}
      <li>
        <strong>
          <a href="{% url 'newspaper:newspaper-detail' newspaper.pk %}">
            {{ newspaper.title }}
          </a>
        </strong>
        <br>
        <p>
          Topics:
          {% for topic in newspaper.topics.all %}
            {{ topic.name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <br>
        Published: {{ newspaper.published_date }}
      </li>
    {% empty %}
      <li>No newspapers available.</li>
    {% endfor %}
  </ul>
{% endblock %}
