{% extends "base.html" %}

{% block content %}
  <h2>Redactors</h2>

  <a href="{% url 'newspaper:redactor-create' %}">
    + Create redactor
  </a>

  <ul>
    {% for redactor in redactor_list %}
      <li>
        <strong>
          <a href="{% url 'newspaper:redactor-detail' redactor.pk %}">
            {{ redactor.username }}
          </a>
        </strong>
        Experience: {{ redactor.years_of_experience }} years
      </li>
    {% empty %}
      <li>No redactors available.</li>
    {% endfor %}
  </ul>
{% endblock %}
